Error Handler.json
{
  "name": "Error Handler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        0
      ],
      "id": "148559f4-9947-4220-b4fd-43814cf077dd",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "97cfbb61-5aed-4232-96b2-91d4932c8874",
              "leftValue": "={{ $json.workflow.name }}",
              "rightValue": "Sales Agent with MCP 2",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        144,
        0
      ],
      "id": "955f2afe-211d-4b69-bc3b-640d74cb19e7",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "=YOUR_PHONE_NUMBER@s.whatsapp.net"
            },
            {
              "name": "body",
              "value": "Critical errors in the Sales Agent. Resolve the issues as soon as possible."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        -16
      ],
      "id": "5d5b5bfc-80b0-43cf-a673-637d0713d0f8",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "f2lmqvLjpWzcUEJZ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "subject": "Sales Agent Critical Error",
        "emailType": "text",
        "message": "Critical errors in the Sales Agent. Resolve the issues as soon as possible.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        -192
      ],
      "id": "afabfe8a-39f5-45d8-8070-02b3a86ff024",
      "name": "Send a message",
      "webhookId": "4964a8f0-0b1c-40d6-a87d-cc4371a0f13f"
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "312cea22-5e08-460a-8f34-4b00b070656f",
  "meta": {
    "instanceId": "c6b42eb31271802e55d107e3822ef00b4c1629dba52e0b328eac36fc75a2abb6"
  },
  "id": "DmyEvmEWsTyhRRxbOP4pp",
  "tags": []
}