Sales_Agent_with_MCP.json
{
  "name": "Sales Agent with MCP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whapi-inbound",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -512,
        -112
      ],
      "id": "SANITIZED_NODE_ID_1",
      "name": "Webhook (uses Whapi API)",
      "webhookId": "SANITIZED_WEBHOOK_ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "SANITIZED_CONDITION_ID_1",
              "leftValue": "={{ $json.body.messages[0].from_me }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        -112
      ],
      "id": "SANITIZED_NODE_ID_2",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "SANITIZED_ASSIGNMENT_ID_1",
              "name": "senderName",
              "value": "={{ $json.body.messages[0].from_name }}",
              "type": "string"
            },
            {
              "id": "SANITIZED_ASSIGNMENT_ID_2",
              "name": "text",
              "value": "={{ $json.body.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "SANITIZED_ASSIGNMENT_ID_3",
              "name": "phone",
              "value": "={{ $json.body.messages[0].chat_id }}",
              "type": "string"
            },
            {
              "id": "SANITIZED_ASSIGNMENT_ID_4",
              "name": "trigger",
              "value": "whatsapp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -128
      ],
      "id": "SANITIZED_NODE_ID_3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Phone: {{ $json.phone }}\nUser Name: {{ $json.senderName }}\nMessage: {{ $json.text }}",
        "options": {
          "systemMessage": "## 1. Core Identity and Goal\nYou are a sales agent assistant. Your goal is to qualify leads, provide expert info on your services, and book discovery calls via [Your Calendly Link]. \n\n## 2. Communication Rules (WhatsApp Native)\n- Style: WhatsApp-native. Concise, friendly, and human.\n- Limit: Max 1-2 short sentences per message. \n- Bite-Sized: Ask only one question at a time.\n- No Lists: Avoid numbered or bulleted points.\n\n## 3. Knowledge Source and Tools\n- Company Expertise: Use the get_company_info tool for specific details. Mention your [CLIENT_COUNT] happy clients and custom service delivery.\n- CRM Logging: When a user shows interest, call crmAgent.\n- CRM Data Rules: \n    - Map User Name to the name field.\n    - Use the provided Phone value for the phone field.\n    - IMPORTANT: If the user has not provided an email yet, use \"not_provided@[COMPANY_DOMAIN].com\" as a temporary placeholder for the email field. This ensures the tool call succeeds. Update it later once they give a real one.\n- Scheduling: Use calendarAgent to book consultations once the lead is qualified and interest is logged.\n\n## 4. Conversation Flow\n1. INITIAL: Greet the user: Hi! I am a sales agent assistant. How can I help with your inquiry today?\n2. QUALIFYING: Use get_company_info to answer questions. \n3. LOGGING: As soon as they show interest, call crmAgent using the placeholder email if necessary.\n4. SCHEDULING: After logging, offer to book a call.\n5. ACTION: Use calendarAgent once they agree to a time."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        288,
        -128
      ],
      "id": "SANITIZED_NODE_ID_4",
      "name": "AI Agent",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        96
      ],
      "id": "SANITIZED_NODE_ID_5",
      "name": "Google Gemini Chat Model",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "SANITIZED_CREDENTIAL_ID_1",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "endpointUrl": "https://[YOUR_DOMAIN]/mcp/[CALENDAR_ENDPOINT_ID]",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        800,
        96
      ],
      "id": "SANITIZED_NODE_ID_6",
      "name": "MCP Client2 Calendar"
    },
    {
      "parameters": {
        "endpointUrl": "https://[YOUR_DOMAIN]/mcp/[KNOWLEDGE_BASE_ENDPOINT_ID]",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        672,
        96
      ],
      "id": "SANITIZED_NODE_ID_7",
      "name": "MCP Client1 KB"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.phone }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        320,
        96
      ],
      "id": "SANITIZED_NODE_ID_8",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "SANITIZED_CREDENTIAL_ID_2",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sseEndpoint": "https://[YOUR_DOMAIN]/mcp/[AIRTABLE_ENDPOINT_ID]/sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        528,
        96
      ],
      "id": "SANITIZED_NODE_ID_9",
      "name": "MCP Client Airtable"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "=91{{ $('Edit Fields').item.json.phone }}@s.whatsapp.net"
            },
            {
              "name": "body",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        -320
      ],
      "id": "SANITIZED_NODE_ID_10",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SANITIZED_CREDENTIAL_ID_3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "={{ $('Edit Fields').item.json.phone }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        784,
        -112
      ],
      "id": "SANITIZED_NODE_ID_11",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "SANITIZED_CREDENTIAL_ID_4",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Edit Fields').item.json.phone }}",
        "value": "={{ $json.DEBUG_SESSION_001 }}",
        "keyType": "string",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1008,
        -112
      ],
      "id": "SANITIZED_NODE_ID_12",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "SANITIZED_CREDENTIAL_ID_4",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "SANITIZED_CONDITION_ID_2",
              "leftValue": "={{ $json.DEBUG_SESSION_001 }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        -112
      ],
      "id": "SANITIZED_NODE_ID_13",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "=91{{ $('Edit Fields').item.json.phone }}@s.whatsapp.net"
            },
            {
              "name": "body",
              "value": "Sorry, I didn't quite get that. Could you please repeat?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1472,
        -288
      ],
      "id": "SANITIZED_NODE_ID_14",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SANITIZED_CREDENTIAL_ID_3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "=91{{ $('Edit Fields').item.json.phone }}@s.whatsapp.net"
            },
            {
              "name": "body",
              "value": "I'm having some technical trouble. Our support team has been notified and will get back to you shortly."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1472,
        -96
      ],
      "id": "SANITIZED_NODE_ID_15",
      "name": "HTTP Request3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SANITIZED_CREDENTIAL_ID_3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "=91{{ $('Edit Fields').item.json.phone }}@s.whatsapp.net"
            },
            {
              "name": "body",
              "value": "Critical errors in the Sales Agent. Resolve the issues as soon as possible."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1472,
        96
      ],
      "id": "SANITIZED_NODE_ID_16",
      "name": "HTTP Request4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SANITIZED_CREDENTIAL_ID_3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields').item.json.phone }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1008,
        -320
      ],
      "id": "SANITIZED_NODE_ID_17",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "SANITIZED_CREDENTIAL_ID_4",
          "name": "Redis account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (uses Whapi API)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ],
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client2 Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client1 KB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ],
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client Airtable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "SANITIZED_ERROR_WORKFLOW"
  },
  "versionId": "SANITIZED_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "SANITIZED_INSTANCE_ID"
  },
  "id": "SANITIZED_WORKFLOW_ID",
  "tags": []
}
